body {
  font-family: Arial, sans-serif;
  background: #0b0f14;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
}

.header-nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: #222;
  padding: 10px 20px;
  border-bottom: 2px solid #ffd700;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-nav .logo img {
  height: 50px;   
  width: auto;
  border-radius: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.3s;
}

.nav-list li a:hover {
  background: #ffd700;
  color: black;
  border-radius: 5px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 20px auto 50px auto;
  padding: 20px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid rgba(255, 215, 0, 0.3);
}

h1, h2 { text-align: center; }

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

label { font-weight: bold; }
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffd700;
  background: #222;
  color: white;
}

input[readonly] {
  background: #333;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease;
}

#submit-btn {
  background: linear-gradient(135deg, #ffd700, #ffb300);
  color: black;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

#submit-btn:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.9);
}

.btn-group {
  display: flex;
  gap: 10px;
}



.agent-btn, .currency-btn {
  background: #222;
  color: white;
  border: 1px solid #ffd700;
}

.agent-btn.active, .currency-btn.active {
  background: #d6b500;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

.title-pro {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.title-pro span {
  color: #ffd700;
  text-shadow: 0 0 15px rgba(255,215,0,0.8);
}

.subtitle {
  text-align: center;
  color: #aaa;
  font-size: 13px;
  letter-spacing: 2px;
}

table, th, td {
  border: 1px solid #555;
}

th, td {
  padding: 8px;
  text-align: center;
}

thead { background: #333; }

tbody tr:nth-child(even) { 
  background: rgba(255,255,255,0.03); 
}

thead {
  background: rgba(255,215,0,0.2);
}

tbody tr {
  transition: 0.2s;
}

tbody tr:hover {
  background: rgba(255, 215, 0, 0.1);
}


.logo-img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 250px;
  height: auto;
  border-radius: 15px; 
}
